---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="About | Capucine Boudin" description="About Jeanine White Lorem Ipsum">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="About"
				tagline="Thank you for visiting ! Below, you can find more information about me and my background."
			>
				<img
					width="1553"
					height="873"
					src="/assets/at_work.jpg"
					alt="Capucine while presenting"
				/>
			</Hero>

			<section>
				<h2 class="section-title">Background</h2>
				<div class="content">
					<p>I hold a Master's degree in Big Data and Artificial Intelligence from ESILV, complemented by academic experience in Computer Science from Griffith College Dublin. 
					</p>
					<p>Throughout my training, I have developed strong technical skills in data analysis, machine learning, and natural language processing. My professional experience includes building semantic search engines, developing Retrieval-Augmented Generation (RAG) systems, and handling large-scale data using tools like Python, SQL, and Google Cloud Platform. 
					</p>
					<p>
						I’ve also worked in agile environments, leveraging methodologies like Scrum and Design Thinking to deliver user-centric solutions across diverse industries, from finance to culture.
					</p>
				</div>
			</section>
			<section>
			<h2 class="section-title">Education</h2>
			<div class="content">
				<p><strong>École Supérieure d'Ingénieurs Léonard de Vinci (ESILV)</strong><br>
				Master’s Degree in Big Data and Artificial Intelligence (2020 – 2025)</p>

				<p><strong>Griffith College – Dublin, Ireland</strong><br>
				Computer Science & Network (2022 – 2023, exchange semester)</p>
			</div>
			</section>

			<section>
			<h2 class="section-title">Skills</h2>
			<div class="content">
				<p><strong>Programming Languages</strong><br>
				Python, SQL, Java, C#</p>

				<p><strong>Data & AI Tools</strong><br>
				NLP, LLMs, Dataiku, GCP, Semantic Search, RAG Systems</p>

				<p><strong>Project Methodologies</strong><br>
				Scrum (Certified), Design Thinking</p>

				<p><strong>Soft Skills</strong><br>
				Team collaboration, problem-solving, communication</p>

				<p><strong>Languages</strong><br>
				French (Native), English (C1), German (B1)</p>
			</div>
			</section>

		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
